/IntsAndScanner/nbproject/private/
/IntsAndScanner/build/
/RelationalOperators/nbproject/private/
/RelationalOperators/build/
/UserInputRelOps/nbproject/private/
/UserInputRelOps/build/
/AssignmentUserInGreetCalc/nbproject/private/
/AssignmentUserInGreetCalc/build/
/Conditions/nbproject/private/
/Conditions/build/
/ConditionsTest/nbproject/private/
/ConditionsTest/build/
/LabExerIfStatement/nbproject/private/
/LabExerIfStatement/build/
/StoreVarPostNeg/nbproject/private/
/StoreVarPostNeg/build/
/EvalPosNegVar/nbproject/private/
/EvalPosNegVar/build/
/EvalCharAsB/nbproject/private/
/EvalCharAsB/build/
/EvalLuckNum/nbproject/private/
/EvalLuckNum/build/
/EvalGradeAsLetter/nbproject/private/
/EvalGradeAsLetter/build/
/EvalEvensOrOdds/nbproject/private/
/EvalEvensOrOdds/build/
/LabExerIfMean/nbproject/private/
/LabExerIfMean/build/
/TEST/nbproject/private/
/LogicalOperators/nbproject/private/
/LogicalOperators/build/
/ShortCurcuitEval/nbproject/private/
/ShortCurcuitEval/build/
/LabExerLogicalOp/nbproject/private/
/LabExerLogicalOp/build/
/BreakContinue/nbproject/private/
/BreakContinue/build/
/SwitchesWithBreaks/nbproject/private/
/SwitchesWithBreaks/build/
/PracExerDisplayOutput/nbproject/private/
/PracExerDisplayOutput/build/
/PracExerArithmOps/nbproject/private/
/PracExerArithmOps/build/
/PracExerUserInput/nbproject/private/
/PracExerUserInput/build/
/PracExerModuloOp/nbproject/private/
/PracExerModuloOp/build/
/PracExerLogiOp/nbproject/private/
/PracExerLogiOp/build/
/PracExerProgFlowIf/nbproject/private/
/PracExerProgFlowIf/build/
/PracExerProgFlowNest/nbproject/private/
/PracExerProgFlowNest/build/
/PracExerProgFlowSwitch/nbproject/private/
/PracExerProgFlowSwitch/build/
/LabExerNumSwitch/nbproject/private/
/Methods/nbproject/private/
/Methods/build/
/Random/nbproject/private/
/LabExerInitials/nbproject/private/
/LabExerInitials/build/
/RandomNumbers/nbproject/private/
/RandomNumbers/build/
/LabExerWordLength/nbproject/private/
/LabExerWordLength/build/
/LabExerCoinToss/nbproject/private/
/LabExerDiceRoll/nbproject/private/
/LabExerDiceRoll/build/
/MidtermBMI/nbproject/private/
/MidtermBMI/build/
/LabExerCoinToss/build/
/GroupExerDiceGames/nbproject/private/
/DiceGameLuckySeven/nbproject/private/
/DiceGameLuckyGuess/nbproject/private/
/DiceGameThreeEvens/nbproject/private/
/DiceGameLuckySeven/build/
/DiceGameLuckyGuess/build/
/DiceGameThreeEvens/build/
/Loops/nbproject/private/
/Loops/build/
/CoinTossLoop/nbproject/private/
/CoinTossLoop/build/
/DiceGameThreeEvensLOOP/nbproject/private/
/DiceGameThreeEvensLOOP/build/
/Incrementing And Decrementing/nbproject/private/
/Incrementing And Decrementing/build/
/AssignmentMathTutor/nbproject/private/
/AssignmentMathTutor/build/
/LabExerNumOfGreet/nbproject/private/
/LabExerNumOfGreet/build/
/ForLoopTotal/nbproject/private/
/ForLoopTotal/build/
/LabExerCoinTossEval/nbproject/private/
/LabExerCoinTossEval/build/
/AssignmentMathTutorLOOP/nbproject/private/
/AssignmentMathTutorLOOP/build/